/* CSS stylings for neovim-gtk that need to be applied globally to work */
popover.nvim-completion > contents {
    padding: 3px;
}

popover.nvim-cmdline > contents {
    padding: 3px;
}

.nvim-background {
    background: rgba(0, 0, 0, 0);
}

/* vim: colorcolumn=100 tw=100 ts=4 sts=4 sw=4 expandtab :
 */
