/* CSS stylings for neovim-gtk that don't change  */
popover.nvim-popover > contents {
    padding: 3px;
}

listview.nvim-popupmenu-list {
    margin: 0px;
    padding: 0px;
}

/* vim: colorcolumn=100 tw=100 ts=4 sts=4 sw=4 expandtab :
 */
